$nav-white: #ffffff;

* {
  // outline: 1px solid red;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  background-color: #e2e8f0;
}

nav {
  width: 270px;
  height: 100%;
  background-color: #0ea5e9;
  color: $nav-white;
  padding-left: 10px;
  padding-right: 10px;

  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    margin-bottom: 40px;

    span {
      font-size: 20px;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
      border-radius: 10px;
      height: 40px;
      display: flex;
      padding-left: 10px;
      a {
        display: flex;
        align-items: center;
        gap: 20px;
        text-decoration: none;
        color: $nav-white;
      }

      &:hover {
        background-color: #0284c7;
      }
    }
  }

  .icon {
    filter: invert(1);
    height: 20px;
    width: 20px;

    &-big {
      filter: invert(1);
      height: 40px;
      width: 40px;
    }
  }
}

.no-hover:hover {
  background-color: #0ea5e9;
}

main {
  width: 100%;
}

header {
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 40px;
  padding-bottom: 15px;
  background-color: $nav-white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    form {
      display: flex;
      gap: 10px;
      flex: 1;

      input {
        border: none;
        border-radius: 10px;
        background-color: #e2e8f0;
        padding: 5px;
        width: 70%;
      }
    }

    .user-container {
      display: flex;
      align-items: center;
      gap: 20px;

      span {
        font-weight: 700;
      }
    }

    .icon {
      height: 20px;
      width: 20px;
    }

    .user-photo {
      height: 50px;
      width: 50px;
      border-radius: 25px;
    }
  }

  .bottom {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .greeting {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: 1fr 1fr;

      img {
        height: 70px;
        width: 70px;
        border-radius: 40px;
        grid-row-start: span 2;
        margin-right: 10px;
      }

      span:nth-of-type(1) {
        font-size: 12px;
        font-weight: 700;
        align-self: flex-end;
        margin-bottom: 10px;
      }
      span:nth-of-type(2) {
        font-size: 18px;
        font-weight: 700;
      }
    }

    .buttons {
      display: flex;
      gap: 20px;

      button {
        border: none;
        border-radius: 20px;
        padding: 8px 20px;
        color: $nav-white;
        background-color: #0ea5e9;

        &:hover {
          cursor: pointer;
          background-color: #0284c7;
        }
      }
    }
  }
}

section {
  padding: 20px;
  display: flex;
  gap: 20px;

  .title {
    font-weight: 700;
    padding-bottom: 10px;
  }

  .projects-container {
    .project-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .card {
        height: 150px;
      }

      .card::before {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 8px;
        height: 100%;
        content: "";
        background-color: #fb923c;
      }
    }
  }
}
.card {
  position: relative;
  flex-grow: 1;
  background-color: $nav-white;
  border-radius: 10px;

  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow: hidden;

  &__title {
    font-size: 12px;
    font-weight: 700;
  }

  &__text {
    flex: 1;
    font-size: 11px;
    font-weight: 500;
    opacity: 0.8;
  }

  .links {
    display: flex;
    gap: 15px;
    align-self: flex-end;
    a {
      img {
        height: 20px;
        width: 20px;
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid #e2e8f0;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.trending-container {
  .title {
    padding-top: 20px;
  }

  .item {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;

    &:not(:last-child) {
      padding-bottom: 20px;
    }

    img {
      height: 40px;
      width: 40px;
      border-radius: 40px;
      grid-row-start: span 2;
      margin-right: 10px;
    }
  }
}
